{% extends 'base.html' %}
{% block content %}
<h1>This is New adding path for Updating Laptop</h1>



<div class="container" >
    <form method="post" action="{% url 'save_laptop' %}">
    {% csrf_token %}
    <label for="model" class="form-label">Model</label>
    <input placeholder="model" id="model" type="text" value="{{computer.model}}" name="model" class="form-control" >

    <label for="color" class="form-label"></label>>color</label>
    <input placeholder="color" id="color" type="text" value="{{computer.color}}" name="color" class="form-control">
    
    <label for="price" class="form-label"></label>>price</label>
    <input placeholder="price" id="price" type="text" value="{{computer.price}}" name="price" class="form-control">
    
    <button type="submit" class="btn btn-success">Save</button>
{% endblock content %}