{% extends 'base.html' %}

{% block content %}
{% load static %}
<nav>
  <img src="{% static 'images/food.jpeg' %}" style="width: 1600px; height: 500px; margin-bottom: 5px; border-radius: 5px;"   alt="">

    <table class="table" style="border: 1px solid blue;">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">date</th>
          </tr>
        </thead>
        <tbody>
            {% for food in meal %}
          <tr>
            <th scope="row" style="border: 1px solid blue;">{{ food.id }}</th>
            <td>{{ food.name }}</td>
            <td>
              <a class="btn btn-outline-success" href="{% url 'read_food' food.id %}">CRUD</a>
            </td>
            <td>{{ food.date }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
</nav>

{% endblock content %}


