{% extends 'base.html' %}

{% block content %}
{% load static %}
<nav>
  <h1>
    Food
  </h1>
  <a href="{% url 'create_food' %}" class="btn btn-success"> Create</a>  
    <table class="table" style="border: 1px solid blue;">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">id</th>
            <th scope="col">date</th>
            <th scope="col">Buttons</th>

          </tr>
        </thead>
        <tbody>
            {% for food in meal %}
          <tr>
            <th scope="row" style="border: 1px solid blue;">{{ food.id }}</th>
            <td>{{ food.name }}</td>
            <td>{{ food.date }}</td>
            <td>
              <a class="btn btn-outline-success" href="{% url 'read_food' food.id %}">Read</a>
            </td>
            <td>
              <a class="btn btn-outline-info" href="{% url 'update_food' food.id %}">Update</a>
            </td>
            <td>
              <a class="btn btn-outline-danger" href="{% url 'delete_food' food.id %}">Remove</a>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
</nav>

{% endblock content %}


