{% extends 'base.html' %}

{% block content %}
{% load static %}
<nav>
  <img src="{% static 'images/phone.jpeg' %}" style="width: 1600px; height: 500px; margin-bottom: 5px; border-radius: 5px;"   alt="">

    <table class="table" style="border: 1px solid blue;">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">model</th>
            <th scope="col">color</th>
            <th scope="col">Log in</th>
            <th scope="col">date</th>
          </tr>
        </thead>
        <tbody>
            {% for phone in mobile %}
          <tr>
            <th scope="row" style="border: 1px solid blue;">{{ phone.id }}</th>
            <td>{{ phone.model }}</td>
            <td>{{ phone.color }}</td>
          <td> <a class="btn btn-outline-warning" href="{% url 'read_phone' phone.id %}"> Press </a>
            
                      </td>
            <td>{{ phone.date }}</td>

          </tr>
          {% endfor %}
          </tbody>
        </table>
</nav>

{% endblock content %}


